Flask==2.2.5
Werkzeug==2.2.3

Flask-Login
Flask-WTF
WTForms

Flask-SQLAlchemy
SQLAlchemy
Flask-Migrate

requests

python-docx

fasttext-wheel
protobuf
sentencepiece
torch
transformers
huggingface-hub

langdetect
nltk

sacremoses

bert-score
